<div>
  <form (ngSubmit)="onForgetPassword()" [formGroup]="forgetPasswordForm">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="text">
      <mat-error *ngIf="forgetPasswordForm.get('email').hasError('required')">Email wajib diisi</mat-error>
      <mat-error *ngIf="forgetPasswordForm.get('email').hasError('email')">Email format tidak valid</mat-error>
    </mat-form-field>

    <div class="btn-container">
      <button>Submit</button>
    </div>
  </form>
</div>